.about{
    background: white;
    height: 100vh;
    width: 100%;    
    margin-top: -97px;
    color: black;
}

.nav-space{
    background-color: black;
    height: 100px;
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    object-fit: contain;
}
